.box { border: 1px solid #eeeeee; box-shadow: 0 0 3px rgba(0, 0, 0, .2); padding: 10px; }
.dashboard-btn { background: #f08300; color: #ffffff; padding: 10px; margin: 10px; }
#revechat_choose_form label, #revechat_already_have label, #revechat_new_account label { font-weight: normal; }
ul#revechat_choose_form li { list-style: none; display: block; }
ul#revechat_choose_form li label { display: inline-block; }
.ajax_message { display: none; background: url(ajax_loader.gif) no-repeat 5px 60%; padding: 0; margin-top: 1em; }
.ajax_message.wait, .ajax_message.message { display: block; }
.ajax_message.wait { text-indent: 28px; }
.ajax_message.message { background-image: none; text-indent: 0px; }
.revechat_email_error { color: red; }
.ajax_message.message.alert { background-color: #f2dede; border-color: #ebccd1; color: #a94442; padding: 20px; }
.ajax_message.message.success { background-color: #dff0d8; border: 1px solid #dff0d8; color: #3c763d; padding: 20px; }
.revechat_success_message { background: #e6e7e9; padding: 50px;  /*width: 300px;*/ height: auto; border-top: 5px solid #f16915; }
.revechat_success_message h3 { font-weight: bold; border-bottom: 1px solid #b1b4b9; padding-bottom: 20px; line-height: 2em; }
.messages.revechat_success { background-color: #dff0d8; border-color: #d6e9c6; color: #3c763d; padding: 20px; }
.remove_btn input { display: inline; border: 0 !important; border-radius: 0 !important; background: transparent !important; font-size: 10px !important; text-decoration: underline !important; padding-left: 2px !important; font-weight: normal; }
.remove_btn input:hover, .remove_btn input:focus { box-shadow: none; }
